<div class="pad-bottom-container">
  <img
    src="assets/images/img_comics.webp"
    width="245px"
    height="222px"
    style="margin-top: 30px"
    alt="Hero Image"
  />
</div>
<section class="content-container">
  <app-content-header [title]="'VILLAGES'" [width]="'30%'"></app-content-header>

  <div class="map-container">
    <div class="text-content">
      In the world of Naruto, the shinobi nations are powerful, militarized
      regions led by their respective villages. The Five Great Shinobi Nations
      are the most influential: The Land of Fire is home to Konohagakure (Hidden
      Leaf Village), where the series' protagonist, Naruto Uzumaki, hails from,
      and is known for its strong community and its Hokage, who leads both
      politically and militarily. The Land of Wind houses Sunagakure (Hidden
      Sand Village), known for its harsh desert environment and the Kazekage,
      its leader, who commands great respect. The Land of Water holds Kirigakure
      (Hidden Mist Village), infamous for its brutal past and dangerous tactics,
      ruled by the Mizukage. The Land of Earth contains Iwagakure (Hidden Stone
      Village), led by the Tsuchikage, which is known for its strong military
      and defensive strategies, and The Land of Lightning hosts Kumogakure
      (Hidden Cloud Village), led by the Raikage, which is known for its
      powerful ninjas and advanced jutsu.<br /><br />
      Each village plays a critical role in the political and military balance
      of the shinobi world, often forming alliances, participating in conflicts,
      or engaging in covert operations. The leaders of these villages, the Kage,
      are some of the most powerful individuals in the series, guiding their
      villages through peace and war. The villages' ninjas, called shinobi, are
      responsible for missions ranging from protecting villages to participating
      in large-scale wars, and their loyalty lies primarily with their village
      and its leader. These nations and villages form the intricate backdrop of
      the Naruto series, where alliances, rivalries, and politics shape the
      destiny of its characters.
    </div>
    <img
      class="map-img"
      src="assets/images/villages_map.jpg"
      width="500"
      height="500"
      alt=""
    />
  </div>
  <app-content-header
    [title]="'Characters in Villages'"
    [width]="'50%'"
  ></app-content-header>
  <div class="search-container">
    <input
      id="search-village"
      type="text"
      [formControl]="filterTextControl"
      placeholder="Search village by Name..."
      class="search-input"
    />
  </div>

  <section class="acc-section">
    <div *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    @if (villages.length > 0) {
      @for (village of villages | filterVillages: filterText; track $index) {
        <app-village-card [village]="village"></app-village-card>
      }
    }
  </section>
</section>
