.divider{
    display: flex;
    justify-content: center;
}

.content-head{
    text-align: center;
}

.acc-section{
    padding: 40px;
}

.map-container{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}