<div class="pad-bottom-container"></div>
<img
  src="assets/images/img_comics.webp"
  style="margin-top: -150px"
  width="245px"
  height="222px"
  alt="Hero Image"
/>

<section class="content-container">
  <div class="info-section">
    <div class="divider">
      <img src="assets/images/divider.png" width="30%" height="20px" />
    </div>
    <h1 class="content-head">About Naruto</h1>
    <div class="divider">
      <img src="assets/images/divider.png" width="30%" height="20px" />
    </div>
    <div class="image-right-text">
      <div class="text-content">
        Naruto is a Shonen (teen male oriented) animated series and manga
        (Japanese comic) created by Masashi Kishimoto. Both the anime and the
        manga are ongoing in Japan at the moment. The series has been licensed
        abroad in various countries.<br /><br />
        You can find Naruto manga on American shelves and the animated series
        airing in the Philippines. The show takes place in a world populated by
        ninja villages. The ninja in the series serve as the armies for the
        countries that inhabit the world. Most of the countries have their own
        Hidden Village, which serves to train and manage the ninja of the
        country.<br /><br />
        Also the ninja in the series are able to utilize jutsu techniques, which
        are the secrecy, body and illusion arts of the ninja. These allow the
        ninja to perform many amazing skills such as the manipulation of the
        surrounding elements. The main character of the series is Uzumaki
        Naruto, a young boy who dreams of becoming the leader of his Hidden
        Village.<br /><br />
        It will be difficult though for Naruto, because when he was a baby an
        evil demon was placed inside him to stop its rampage. As Naruto grew the
        townspeople saw Naruto himself as the demon, even though he was merely
        its container. When the series begins the reader and viewer will begin
        their journey with Naruto on his path to become respected by the
        village.<br /><br />The Naruto manga is drawn by Masashi Kishimoto.
        Kishimoto was born in the Okayama Prefecture, Japan in 1974. He gained
        early acclaim with his work Karakuri. Later in 1997 he would develop an
        early incarnation of Naruto for Akamaru Jump. The manga would formally
        begin in 1999 in Weekly Shonen Jump, gaining a large fan following.
        Kishimoto is not alone in drawing the series, he has assistants who
        share various drawing duties.
      </div>
      <img src="assets/images/naruto1.png" width="300" height="350" />
    </div>
  </div>

  <div class="info-section">
    <div class="divider">
      <img src="assets/images/divider.png" width="30%" height="20px" />
    </div>
    <h1 class="content-head">The Story</h1>
    <div class="divider">
      <img src="assets/images/divider.png" width="30%" height="20px" />
    </div>
    <div class="image-right-text">
      <div class="text-content">
        Naruto follows the story of a young, energetic, and mischievous ninja
        named Naruto Uzumaki, who is determined to earn the respect of his
        village, Konohagakure, and become its leader, the Hokage. Orphaned at
        birth, Naruto carries the burden of being the host of the Nine-Tails
        Fox, a powerful demon that attacked the village years ago. This causes
        villagers to fear and shun him. Throughout his journey, Naruto forms
        bonds with his friends, including Sasuke Uchiha and Sakura Haruno, while
        facing various challenges and enemies, including rogue ninjas and the
        mysterious criminal organization, Akatsuki. Along the way, Naruto learns
        the value of hard work, friendship, and never giving up on his
        dreams.<br /><br />
        The story picks up two and a half years after the original Naruto
        series, with Naruto returning to the village after intensive training.
        Now more mature and skilled, he continues his quest to bring Sasuke
        back, who has left the village seeking power from the rogue ninja,
        Orochimaru. The saga escalates as the Akatsuki organization intensifies
        its efforts to capture the Tailed Beasts, including the Nine-Tails
        inside Naruto. Naruto faces intense battles and confronts the darkness
        in his own heart while continuing to struggle with the emotional scars
        left by his past. In this arc, themes of loss, revenge, and the burden
        of power dominate, leading to powerful battles between Naruto and
        various enemies, including his once-close friend Sasuke.
      </div>
      <img src="assets/images/naruto2.png" width="300" height="350" />
    </div>
    <div class="image-left-text">
      <img src="assets/images/team7.png" width="300" height="350" />
      <div class="text-content">
        In the final stages of Naruto Shippuden, the truth behind the world's
        conflicts is revealed, with Madara Uchiha and the mysterious figure,
        Tobi, manipulating events to start the Fourth Great Ninja War. Naruto,
        now a formidable warrior, joins forces with his allies to stop the war
        and face the powerful foes who seek to control the world. Meanwhile, his
        rivalry and friendship with Sasuke come to a head, as the two ultimately
        face each other in a climactic battle. Naruto’s unwavering belief in the
        possibility of peace and redemption leads him to defeat the antagonists,
        and Sasuke, after realizing the destructive path he’s on, ultimately
        finds his own redemption. The series concludes with Naruto achieving his
        dream of becoming the Seventh Hokage, symbolizing the culmination of his
        growth, and the beginning of a new era of peace for the ninja world.
      </div>
    </div>
  </div>
</section>
