.content-container{
    background-color: beige;
    color: rgb(51, 41, 28); 
    padding: 20px;
}

.pad-bottom-container {
    background-image: url('../../../../public/assets/images/hero_bottom.webp');
    width: 100%;  
    height: 180px;  
    background-size: cover; 
    background-position: center; 
  }
  
.info-section{
    padding: 10px 0;
    border-bottom: 1px solid black;
}