<div class="pad-bottom-container"></div>
<img
  src="assets/images/img_comics.webp"
  style="margin-top: -150px"
  width="245px"
  height="222px"
  alt="Hero Image"
/>

<section class="content-container">
  <div class="info-section">
    <h1>About Naruto</h1>
    <p style="line-height: 1.5">
      Naruto is a Shonen (teen male oriented) animated series and manga
      (Japanese comic) created by Masashi Kishimoto. Both the anime and the
      manga are ongoing in Japan at the moment. The series has been licensed
      abroad in various countries. You can find Naruto manga on American shelves
      and the animated series airing in the Philippines. The show takes place in
      a world populated by ninja villages. The ninja in the series serve as the
      armies for the countries that inhabit the world. Most of the countries
      have their own Hidden Village, which serves to train and manage the ninja
      of the country. Also the ninja in the series are able to utilize jutsu
      techniques, which are the secrecy, body and illusion arts of the ninja.
      These allow the ninja to perform many amazing skills such as the
      manipulation of the surrounding elements. The main character of the series
      is Uzumaki Naruto, a young boy who dreams of becoming the leader of his
      Hidden Village. It will be difficult though for Naruto, because when he
      was a baby an evil demon was placed inside him to stop its rampage. As
      Naruto grew the townspeople saw Naruto himself as the demon, even though
      he was merely its container. When the series begins the reader and viewer
      will begin their journey with Naruto on his path to become respected by
      the village.
    </p>
  </div>
  <div class="info-section">
    <h1>Who creates Naruto?</h1>
    <p style="line-height: 1.5">
      The Naruto manga is drawn by Masashi Kishimoto. Kishimoto was born in the
      Okayama Prefecture, Japan in 1974. He gained early acclaim with his work
      Karakuri. Later in 1997 he would develop an early incarnation of Naruto
      for Akamaru Jump. The manga would formally begin in 1999 in Weekly Shonen
      Jump, gaining a large fan following. Kishimoto is not alone in drawing the
      series, he has assistants who share various drawing duties. These
      individuals are:
    </p>
  </div>
</section>
