<div class="characters-container">
  <!-- Error message -->
  <div *ngIf="error$ | async as error" class="error-message">
    {{ error }}
  </div>

  <!-- Divider and title -->
  <div class="divider">
    <img src="assets/images/divider.png" width="100%" height="20px" alt="" />
  </div>
  <h2 class="content-head">CHARACTERS</h2>
  <div class="divider">
    <img src="assets/images/divider.png" width="100%" height="20px" alt="" />
  </div>

  <!-- Search input -->
  <div class="search-container">
    <input
      id="search-character"
      type="text"
      [formControl]="filterTextControl"
      placeholder="Search character by Name..."
      class="search-input"
    />
  </div>

  <!-- Loading spinner -->
  <div
    *ngIf="isLoading$ | async"
    class="loading-spinner"
    style="margin-top: 40px"
  >
    <mat-spinner></mat-spinner>
  </div>

  <div class="characters-list">
    <!-- Check if there are characters to display -->
    <ng-container *ngIf="characters.length > 0; else noCharacters">
      <app-character-card
        *ngFor="let character of characters | filterCharacters : filterText"
        [character]="character"
        [routerLink]="['/character', character.id]"
      ></app-character-card>
    </ng-container>

    <!-- Template for when there are no characters -->
    <ng-template #noCharacters>
      <p *ngIf="!isLoading$">No characters found.</p>
    </ng-template>
  </div>

  <!-- No characters message -->
  <ng-template #noCharacters>
    <div class="no-characters-message">No characters found.</div>
  </ng-template>

  <!-- Pagination controls -->
  <div class="pagination-controls">
    <button
      (click)="goToFirstPage()"
      [disabled]="currentPage === 0"
      [@buttonState]="buttonState"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      Go to First Page
    </button>
    <mat-paginator
      #paginator
      [length]="totalCharacters$ | async"
      [pageSize]="limit"
      [pageSizeOptions]="[20]"
      (page)="onPageChange($event)"
      aria-label="Select page"
    ></mat-paginator>
  </div>
</div>
